<section class="post-card">
    <div class="post-header">
      <h2 class="post-title">{{ posts.title }}</h2>
      <h2 class="post-author">Posted by {{ posts.user.username }} on {{ format_date posts.createdAt }}</h2>
    </div>
    <div>
      <p>{{ posts.content }}</p>
    </div>
</section>
<section class="post-card">
  {{#each comments as |comment|}}
    <p>Comment: {{ content }}</p>
    <p>Created by {{user.username}} on {{ format_date createdAt }}</p>
  {{/each}}
</section>
<section class="post-card">
  <form class="form comment-form">
    <div class="form-group">
      <label for="post-comment">Comment</label>
      <input type="text area" class="form-input" type="text" id="post-comment" data-post={{ posts.id }}/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-custom" type="submit">Submit!</button>
    </div>
  </form>
</section>

<script src="../../js/comment.js"></script>